body
{
  font-size: 116%;
}

#hd
{
  text-align: center;
}

#hd img
{
  float: left;
}

#hd h1
{
  padding-bottom: 5px;
  border-bottom: 5px double #888;
  font-size:2.5em;
}
  
#ft
{
  margin-top: 5px;
  padding-top: 5px;
  border-top: 5px double #888;
}

table.answer
{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

table.best_answer
{
  border-style: dotted;
  border-color: red;
}

div.question
{
  background: #ddf url(/images/question.png) no-repeat top right;
  border: 1px solid #88f;
  padding: 5px;
  min-height: 90px;
}

div.answer
{
  background: #fdd url(/images/answer.png) no-repeat top right;
  border: 1px solid #f88;
  padding: 5px;
  min-height: 90px;
}

div.answer_item div.question, div.answer_item div.answer
{
  min-height: 0px;
  background-image: none;
}

ul.tag_cloud, ul.tag_list 
{
  padding: 2px; 
  margin: 0; 
}
ul.tag_cloud
{
  line-height: 135%; 
  text-align: center; 
}
ul.tag_cloud a { padding: 0px; }

ul.tag_cloud li.tag, ul.tag_list li.tag
{
  display: inline;
}

li.tag a {
  padding: 1px;
  padding-left: 14px; 
  background: #fed url(/icon/tag-small.png) no-repeat top left;
  border: 1px solid #edc;
  text-decoration: none;
}

li.tag a:hover {
  background-color: #fc9;
  border: 1px solid #fb7;
}

div.answer_item
{
}

div.answer_item div.answer_item_content
{
  border: 1px solid #888;
  background: #ddd;
  padding: 5px;
  display: none;
}

div.answer_item:hover div.answer_item_content
{
  display: block;
}
a.branch_button
{
  float: right;
}