body
{
  background: #aaa;
}

table.answer
{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

table.best_answer
{
  border-style: dotted;
  border-color: red;
}

div.question
{
  background: #ddf;
  border: 1px solid #88f;
  padding: 5px;
}

div.answer
{
  background: #fdd;
  border: 1px solid #f88;
  padding: 5px;
}